<!--RECIPES-->
<div class="container">
  <div class="row content">
<div class="container col-sm-6" onload="searchRecipe()">
  <div class="row">
    <div class="container col-sm-12">
      <div class=" col-sm-5">
        <label>Recipe Name</label>
      </div>
      <div class=" col-sm-2">
        <label>Done</label>
      </div>
      <div class=" col-sm-2">
        <label>Favorite</label>
      </div>
    </div>
    <br/>
    <ul class="recipes">
      <li *ngFor="let recipe of recipes | paginate: { itemsPerPage: 14, currentPage: p }" value="details">

        <div class="container col-xs-12">
          <div id="recipeName" class="col-xs-5">
            {{recipe.Name | uppercase}}
          </div>
          <div class="col-xs-2">
            <label>
              <input type="checkbox" [(ngModel)]="recipe.IsDone" placeholder="done" disabled="disabled"/> 
            </label>
          </div>
          <div class="col-xs-2">
            <label>
                <input type="checkbox" [(ngModel)]="recipe.IsFavorite" placeholder="favorite" disabled="disabled"/>
             </label>
          </div>
          <div class="col-xs-1">
            <label>
                 <button  [class.selected]="recipe === selectedRecipe" (click)="onSelect(recipe)"> 
                 <img src="../Photos/view.png"  opacity="0" title="Delete" width="20px" height="20px" value="Select" /></button>
            </label>
          </div>
          <div class="col-xs-1">
            <label>
              <button [class.selected]="recipe === selectedRecipe2" value="edit" (click)="onEdit(recipe)" > 
              <img src="../Photos/Pencil2.png" title="Edit" width="20px" height="20px" value="Edit" /></button>
            </label>
          </div>
          <div class="col-xs-1">
            <label>
                 <button (click)="deleteRecipe(recipe)"> 
                 <img src="../Photos/delete2.png"  opacity="0" title="Delete" width="20px" height="20px" value="Delete" /></button>
            </label>
          </div>

        </div>
      </li>
    </ul>

  </div>

<!--PAGING-->
<div class="container col-xs-12 text-center">
  <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px" [ngClass]="{ 'hidden': !loading }"></i>
  <!--<i class="fa fa-refresh fa-spin" style="font-size:24px" [ngClass]="{ 'hidden': !loading }"></i>
  <i class="fa fa-spinner  fa-spin" style="font-size:24px;"></i>-->
  <pagination-controls style="background: gray" class="mypagination" (pageChange)="p = $event" #api directionLinks="true"></pagination-controls>

</div>
</div>

<!--EDIT & DETAILS-->
<br/>
<div class="container col-sm-6" ng-if="value=details">
  <app-recipe-details [recipe]="selectedRecipe"></app-recipe-details>
</div>
<div class="container col-sm-6" ng-if="value=edit">
  <app-recipe-edit [recipe]="selectedRecipe2"></app-recipe-edit>
</div>
</div>
</div>


