<div class="recipe-detail center-text" *ngIf="_loading">
  Loading Recipe...
</div>
<div *ngIf="recipe">
  <br/>
  <div class="conteiner col-sm-12 panel panel-danger">
    <div class="panel-heading">
      <h2 class="panel-title"><b>Edit {{recipe.Name}}!</b> </h2>
    </div>
    <div>
      <br/>
       <div class="form-group">
        <label>Recipe Name:</label>
        <input [(ngModel)]="recipe.Name" placeholder="name" />
       </div>
       <div class="form-group">
        <label class="item item-input">
            Description:</label>
        <textarea style="margin: 0px; width: 541px; height: 138px;" [(ngModel)]="recipe.Description" placeholder="description" ></textarea>
       </div>
      <div class="conteiner">
         <div class="form-group col-sm-3">
            <label>Done Recipe </label>
            <input type="checkbox" [(ngModel)]="recipe.IsDone" placeholder="done" />
         </div>
          <div class="form-group col-sm-6">
            <label>Favorite Recipe </label>
            <input type="checkbox" [(ngModel)]="recipe.IsFavorite" placeholder="favorite" />
         </div>
      </div>
  </div>
<div class="conteiner col-sm-12">
  <div class="col-sm-5 form-group">
     <label>Ingredient </label>
      <input class="form-control" #searchBox id="search-box" (keyup)="getIngredients(searchBox.value)" />
      <div>
        <div *ngFor="let ingredient of ingredients" class="search-result" (click)="searchBox.value=ingredient.Name">
          {{ingredient.Name}}
        </div>
      </div>
   </div>
  <div class="col-sm-3 form-group">
      <label>Measurement</label>
      <select class="form-control">
        <option value="g">g</option>
        <option value="l">l</option>
        <option value="spoon">Spoon</option>
        <option value="teaspoon">Teaspoon</option>
      </select>
   </div>
  <div class="col-sm-2 form-group">
      <label>Quantity </label>
      <input type="text" class="form-control" name="quantity" [ngModel]="quantity">
   </div>
  <div class="col-sm-2">
    <br/>
    <button click="addIngredient(ingredient)" class="btn btn-success">Add</button>
  </div>
</div>
</div>
</div>