label{
      font-weight: bold;
      color: dimgray;
}
.search-result{
  border-bottom:1px solid gray;
  border-left:1px  solid gray;
  border-right: 1px solid gray;
  cursor: pointer;
}

#edit{
    background-color: OldLace;
}