<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <blockquote>
        <p>“A recipe is a story that ends with a good meal…” </p><cite>Pat Conroy</cite>
      </blockquote>
    </div>
    <div class="col-sm-6">
      <blockquote>
        <p>“A recipe has no soul, you as the cook must bring soul to the recipe…”</p>
        <cite> Thomas Keller</cite>
      </blockquote>
    </div>
  </div>
</div>
<br>
<div id="paragraph" class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <div>
        <p class="center">As this quote implies, without creativity, a recipe is nothing more than a suggestion. Recipes serve as the framework
          for masterpieces and are often the catalyst for inspiration. It is soul not blind conventionality that separates
          a culinary experience from bland nourishment. A degree in culinary arts can help chefs discover not only the science
          behind cooking, but the creativity required to create dishes that leave diners speechless.</p>
        <p class="center">It is easy to make parallels between cooking and life, as the two so often complement each other. And as in life,
          chefs are often required to immerse themselves entirely in their craft. As this quote suggests, passion and a bit
          of calculated recklessness is required for a chef to be truly successful. Culinary arts degrees can arm students
          with the necessary technical and analytical skills, allowing them to enter a kitchen with fervor and confidence.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../Photos/1.png" alt="Recipe" width="460" height="345">
      </div>

      <div class="item">
        <img src="../Photos/2.png" alt="Recipe" width="460" height="345">
      </div>

      <div class="item">
        <img src="../Photos/3.png" alt="Recipe" width="460" height="345">
      </div>

      <div class="item">
        <img src="../Photos/4.png" alt="Recipe" width="460" height="345">
      </div>
      <div class="item">
        <img src="../Photos/5.png" alt="Recipe" width="460" height="345">
      </div>
      <div class="item">
        <img src="../Photos/6.png" alt="Recipe" width="460" height="345">
      </div>
      <div class="item">
        <img src="../Photos/7.png" alt="Recipe" width="460" height="345">
      </div>
      <div class="item">
        <img src="../Photos/8.png" alt="Recipe" width="460" height="345">
      </div>
      <div class="item">
        <img src="../Photos/9.png" alt="Recipe" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="col-xs-2"><img src="http://i0.wp.com/www.tyrel.cool/arpress/wp-content/uploads/2015/07/made_it.png?w=1080" alt="" class="et-waypoint et_pb_animation_off et-animated"
          width="32" height="32"></div>
      <div class="text et_pb_blurb_container">
        <h4>Make it.</h4>

        <p>Our pantry is stocked with 300 million bites of inspiration to help guide you from inspiration to celebration with
          your next kitchen creation.</p>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-xs-2"><img src="http://i0.wp.com/www.tyrel.cool/arpress/wp-content/uploads/2015/07/heart.png?w=1080" alt="" class="et-waypoint et_pb_animation_off et-animated"
          width="32" height="32"></div>
      <div class="text et_pb_blurb_container">
        <h4>Love it.</h4>

        <p>Did you make it? Love it! Then pass it on. Post recipes, photos, reviews, I made its, collections and more telling
          your food tribe about your latest mouthwatering masterpiece.</p>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-xs-2"><img src="http://i1.wp.com/www.tyrel.cool/arpress/wp-content/uploads/2015/07/followers.png?w=1080" alt="" class="et-waypoint et_pb_animation_off et-animated"
          width="32" height="32"></div>
      <div class="text et_pb_blurb_container">
        <h4>Share it.</h4>

        <p>Sharing foods you crave and following the cooks you love helps us to feed your feed with lots of recipe awesomeness
          handpicked just for you.</p>

      </div>
    </div>
  </div>
</div>
<br>

<div class="busy text-center">
  <br>
  <h1 style="text-align: center;">We’ve been busy…</h1>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <div class="percent" style="color:#bec531">
        <p style="visibility: visible;"><span class="percent-value">1.5</span></p>
      </div>
      <h3>Million Visits/Year </h3>
    </div>
    <div class="col-sm-3">
      <div class="percent" style="color:#ff6600">
        <p style="visibility: visible;"><span class="percent-value">15</span></p>
      </div>
      <h3>Global Sites</h3>
    </div>
    <div class="col-sm-3">
      <div class="percent" style="color:#fdaa25">
        <p style="visibility: visible;"><span class="percent-value">85</span></p>
      </div>
      <h3>Recipes Viewed Per Second</h3>
    </div>
    <div class="col-sm-3">
      <div class="percent" style="color:#35bbaa">
        <p style="visibility: visible;"><span class="percent-value">60</span>%</p>
      </div>
      <h3>Mobile Traffic</h3>
    </div>
  </div>
</div>

<br>
<br>
<div class="internet container text-center">
  <div class="row">
    <div class="col-sm-4">
      <div><img src="http://i2.wp.com/press.allrecipes.com/wp-content/uploads/2015/07/internetOfThings.jpg?w=1080" alt="" width="207"
          height="188"></div>
      <br>
      <div class="text">
        <h4>Internet of Things</h4>

        <p>Looking for dinnertime inspiration or want to use up those last eggs in your fridge? Just ask My Recipes. We’re cooking
          on Samsung’s revolutionary fridge with a door panel touchscreen serving up grocery lists and recipes. How cool
          is that?</p>

      </div>
    </div>
    <div class="col-sm-4">
      <div><img src="http://i2.wp.com/www.tyrel.cool/arpress/wp-content/uploads/2015/07/Apps.png?w=1080" alt="" width="207" height="188"></div>
      <br>
      <div class="text">
        <h4>App</h4>

        <p>Smartphones and tablets are pretty awesome with all of the cool stuff they do. We created My Recipes apps to take
          advantage of this awesomeness. Join the 30 million cooks who have already downloaded our free apps to their iOS,
          Android and Windows devices.</p>

      </div>
    </div>
    <div class="col-sm-4">
      <div><img src="http://i0.wp.com/www.tyrel.cool/arpress/wp-content/uploads/2015/07/social.png?w=1080" alt="" width="207"
          height="188"></div>
      <br>
      <div class="text">
        <h4>Social</h4>

        <p>We crave a good food post, hashtag, tweet and video. That’s why you’ll find #MyRecipes hanging out at lots of cool
          places. Come visit us at:</p>
        <p><a href="https://www.facebook.com">Facebook</a>&nbsp;&nbsp;<a href="http://blogspot.com/">FoodWishes</a>&nbsp; &nbsp;
          <a href="https://instagram.com">Instagram<br>
            </a><a href="https://www.pinterest.com">Pinterest</a>&nbsp; &nbsp;
          <a href="http://tumblr.com/">Tumblr</a>&nbsp; &nbsp;<a href="https://twitter.com">Twitter</a>&nbsp; &nbsp;
          <a href="http://www.youtube.com">YouTube</a>
        </p>


      </div>
    </div>
  </div>
</div>

<br>
<br>