<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <blockquote>
        <p>“A recipe is a story that ends with a good meal…” </p><cite>Pat Conroy</cite>
      </blockquote>
    </div>
    <div class="col-sm-6">
      <blockquote>
        <p>“A recipe has no soul, you as the cook must bring soul to the recipe…”</p>
        <cite> Thomas Keller</cite>
      </blockquote>
    </div>
  </div>
</div>
<br>
<div id="paragraph" class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <div>
        <p class="center">As this quote implies, without creativity, a recipe is nothing more than a suggestion. Recipes serve as the framework
          for masterpieces and are often the catalyst for inspiration. It is soul not blind conventionality that separates
          a culinary experience from bland nourishment. A degree in culinary arts can help chefs discover not only the science
          behind cooking, but the creativity required to create dishes that leave diners speechless.</p>
        <p class="center">It is easy to make parallels between cooking and life, as the two so often complement each other. And as in life,
          chefs are often required to immerse themselves entirely in their craft. As this quote suggests, passion and a bit
          of calculated recklessness is required for a chef to be truly successful. Culinary arts degrees can arm students
          with the necessary technical and analytical skills, allowing them to enter a kitchen with fervor and confidence.</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>