<!--*CREATE RECIPE-->
<div class="img container">
    <div class="bgimg container col-sm-6">
        <br/>
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <form name="checkoutBillingForm" #userForm="ngForm">
                <div class="recipeName form-group" [ngClass]="{ 
                    'has-error':nameRef.invalid && nameRef.touched,
                    'has-success':nameRef.valid && nameRef.touched
                  }">
                    <label>Recipe Name</label>
                    <input type="text" #nameRef="ngModel" pattern="[a-zA-Z]+" required minlength="3" maxlength="25" class="form-control" name="name"
                        [ngModel]="Name">

                    <div class="help-block" *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)">
                        <div [hidden]="!nameRef.errors.required">
                            Please enter a name
                        </div>
                        <div [hidden]="!nameRef.errors.minlength">
                            Please enter atleast 3 characters
                        </div>
                        <div [hidden]="!nameRef.errors.maxlength">
                            Please enter 25 characters max
                        </div>
                        <div [hidden]="!nameRef.errors.pattern">
                            Please enter only letters
                        </div>
                    </div>
                    <b>{{nameRef.className}}</b>
                </div>
                <br>
                <div class="description form-group" [ngClass]="{ 
                    'has-error':description.invalid  && description.touched,
                    'has-success':description.valid && description.touched
                     }">
                    <label> Description</label>
                    <textarea #description="ngModel" required minlength="10" maxlength="1000" name="description" [ngModel]="Description">
                            </textarea>

                    <div class="help-block" *ngIf="description.errors &&  (description.dirty || nameRef.touched)">
                        <div [hidden]="!description.errors.required">
                            Please enter description
                        </div>
                        <div [hidden]="!description.errors.minlength">
                            Recipe Description must be between 10 and 1000 characters
                        </div>
                        <div [hidden]="!description.errors.maxlength">
                            Recipe Description must be between 10 and 1000 characters
                        </div>
                    </div>
                    <b>{{description.className}}</b>
                </div>
                <div class="chackboxes">
                    <div class="form-group col-sm-6">
                        <label>
                        <input #isDone type="checkbox" name="done" ng-true-value="true">
                        <span>
                        Done Recipe 
                        </span>
                        </label>

                    </div>
                    <div class="form-group col-sm-6">
                        <label>
                        <input #isFavorite type="checkbox" name="favourite" ng-true-value="true">
                       Favorite Recipe </label>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--INGREDIENTS-->
    <div class="bgimg2 container col-sm-6">
        <br>
        <div class="panel-heading">
            <h3 class="panel-title">Add Ingredients </h3>
        </div>
        <br>
        <div class="panel-body">
            <form name="checkoutBillingForm" #ingForm="ngForm">
                <div class="addIngredient container col-xs-12">
                    <div class="ingredientName col-md-4 form-group" [ngClass]="{ 
                    'has-error':ingredientName.invalid && ingredientName.touched,
                    'has-success':ingredientName.valid && ingredientName.touched
                  }">
                        <form id="recipeSearchForm">
                            <label> Ingredient</label>
                            <input autocomplete="off" #ingredientName name="ingredientName" required type="text" class="form-control" (keyup)="getIngredients(ingredientName.value)"
                                [ngModel]="ingredientname" />

                            <div *ngFor="let ingredient of recipeIngredients" class="autocompleteIng form-control">
                                <span (click)="ingredientName.value=ingredient.Name; chooseIngredient(ingredient)"> 
                                {{ingredient.Name}}
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="quantity col-md-3 form-group" [ngClass]="{ 
                    'has-error':quantity.invalid && quantity.touched,
                    'has-success':quantity.valid && quantity.touched
                     }">
                        <label>Quantity </label>
                        <input type="text" #quantity="ngModel" required pattern="[0-9]+" class="form-control" name="quantity" [ngModel]="qua" />
                        <div class="help-block" *ngIf="quantity.errors && (quantity.dirty || quantity.touched)">
                            <div [hidden]="!quantity.errors.required" style="margin-left:-13px;">
                                Required
                            </div>
                            <div [hidden]="!quantity.errors.pattern" style="margin-left:-13px;">
                                Numbers only
                            </div>

                        </div>
                        <b>{{quantity.className}}</b>
                    </div>
                    <div class="measurement col-md-3 form-group">
                        <label>Measurement </label>
                        <select #measurement name="measurement" class="form-control" (change)="parseValue($event.target.value)">
                       <option *ngFor="let name of options"
                     [value]="name">{{name}}</option>
        </select>
                    </div>
                    <div class="addButton col-md-1">
                        <label> </label>
                        <button [disabled]="!ingForm.form.valid" (click)="addIngredient(ingredientName.value, measurement.value, quantity.value);
        quantity.value=null;ingredientName.value=null">
             <img src="../Photos/Plus.png"  opacity="0" title="Add" width="25px" height="25px" value="Delete" />
             </button>
                    </div>
                </div>
            </form>
            <br/>
            <div class="addedIngredients container col-sm-12" *ngIf="addedIngredients.length > 0">
                <div class="row">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ingredient</th>
                                    <th>Quantity</th>
                                    <th>Measurement</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ingredient of addedIngredients">
                                    <td>{{ingredient.IngredientName}}</td>
                                    <td>{{ingredient.Quantity}}</td>
                                    <td>{{ingredient.Measurement}}</td>

                                    <td><button (click)="removeIngredient(ingredient)">
                         <img src="../Photos/minus.png"  opacity="0" title="Remove" width="25px" height="25px" value="Delete" /></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br/>


        </div>

    </div>
    <div class="saveButton col-xs">
        <button #saveButton [disabled]="!userForm.form.valid || !addedIngredients.length > 0" (click)="saveRecipe(nameRef.value,description.value,isDone.checked,isFavorite.checked,addedIngredients);showSuccess()"
            type="submit" class="btn btn-default" [routerLink]="['/recipe-list']"> Save </button>

    </div>
</div>