input.ng-invalid{border-left: 5px solid red;}
input.ng-valid{border-left: 5px solid green;}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: gray;
  text-align: center;
}
html {
  margin: 2em;
 color: lightgoldenrodyellow;
}
