<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div>
        <img class="img-responsive" src="../Photos/rec.png" alt="Image">
    </div>
    <nav id="nav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header text-center">
                <a class="active" class="navbar-brand"  [routerLink]="['/recipe-list']" routerLinkActive="active" href="#">My Recipes</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/recipe-browse']" routerLinkActive="active"href="#">Browse Recipe</a></li>
                <li><a [routerLink]="['/recipe-create']" routerLinkActive="active" href="#">New Recipe</a></li>
                <li><a [routerLink]="['/recipe-about']" routerLinkActive="active" href="#">About</a></li>
                <li><a [routerLink]="['/recipe-findUs']" routerLinkActive="active" href="#">Find Us</a></li>
            </ul>
        </div>
    </nav>
    <br/>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer class="container-fluid text-center">
        <div class="container text-center">
            <br>
            <div class="row">
                <div class="col-xs-4">
                    <div class="widget">
                        <h4 class="widget-title">Find us:</h4>
                        <address class="no-margin-bottom">11th October St.
                            <br>1000 Skopje, Republic of Macedonia</address>
                        <a [routerLink]="['/recipe-about']" routerLinkActive="active" href="#">More About Us</a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="widget">
                        <h4 class="widget-title">Contact us</h4>
                        Email: <a href="mailto:shop@fromageandfrench.com">sample@it-labs.com</a>
                        <p class="no-margin-bottom">Tel: +389 2 311 1033</p>

                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="widget">
                        <h4 class="widget-title">Opening Hours:</h4>
                        <p class="no-margin-bottom">
                            Monday - Friday 08:30 - 17:00<br/>
                            <br/> Closed Saturdays and Sundays<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div><br>
    </footer>
</body>

</html>