<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
     <notification-bar class="notifications"></notification-bar>
    <!--HEADER-->
    <section id="bgContainer">
        <span id="recipeLogo--dynamicLead"></span>
        <div id="recipeSearchFormContainer">

            <form id="recipeSearchForm">
                <div class="row">
                    <div class="col-xs-10">
                        <input type="hidden" name="searchType">
                        <input autocomplete="off" type="text" #searchName id="homeSearchBox" name="searchTerm" class="searchFromField" placeholder="Search recipe"
                            (keyup)="getRecipes(searchName.value)">
                    </div>
                    <div class="searchBtn col-xs-2">
                        <button class="icon-search" (click)="onSelect(searchName.value)"></button>
                    </div>
                </div>
                <!--AUTOCOMPLETE FOR RECIPES-->
                <div *ngFor="let recipe of recipes" class="form-control">
                    <span (click)="searchName.value=recipe.Name;onSelect(searchName.value); chooseRecipes(recipe);searchName.value=''"> 
                       {{recipe.Name}}
                        </span>
                </div>
            </form>
        </div>
        <div class="fullimagebleed">
            <img id="bgImage" class="img-responsive" src="../Photos/Screenshot.png">
        </div>
    </section>

    <!--NAVIGATION-->
    <nav  class="navbar navbar-default">
        <div id="navigation" class="container-fluid">
            <div class="navbar-header text-center">
                <a class="active" class="navbar-brand" [routerLink]="['/recipe-list']" routerLinkActive="active" href="#">My Recipes</a>
            <!--<li><a [routerLink]="['/recipe-browse']" routerLinkActive="active" href="#">Recipes</a></li>-->
                <!--<a class="active" class="navbar-brand"  [routerLink]="['/recipe-browse']" routerLinkActive="active" href="#">My Recipes</a>-->
          
            </div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/recipe-browse']" routerLinkActive="active" href="#">Browse Recipe</a></li>
                <li><a [routerLink]="['/recipe-create']" routerLinkActive="active" href="#">New Recipe</a></li>
                <li><a [routerLink]="['/recipe-about']" routerLinkActive="active" href="#">About</a></li>
                <li><a [routerLink]="['/recipe-findUs']" routerLinkActive="active" href="#">Find Us</a></li>
            </ul>
        </div>
    </nav>
    <br/>
    <div class="container">
        <router-outlet></router-outlet>
    </div>

    <!--FOOTER-->
    <footer class="container-fluid text-center">
        <div class="container text-center">
            <br>
            <div class="row">
                <div class="col-xs-4">
                    <div class="widget">
                        <h4 class="widget-title">Find us:</h4>
                        <address class="no-margin-bottom">11th October St.
                            <br>1000 Skopje, Republic of Macedonia</address>
                        <a [routerLink]="['/recipe-about']" routerLinkActive="active" href="#">More About Us</a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="widget">
                        <h4 class="widget-title">Contact us</h4>
                        Email: <a href="mailto:sample@it-labs.com">sample@it-labs.com</a>
                        <p class="no-margin-bottom">Tel: +389 2 311 1033</p>

                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="widget">
                        <h4 class="widget-title">Opening Hours:</h4>
                        <p class="no-margin-bottom">
                            Monday - Friday 08:30 - 17:00<br/>
                            <br/> Closed Saturdays and Sundays<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div><br>
    </footer>
</body>

</html>