<div *ngIf="recipe" class="bgimg container col-sm-12">
  <div class="details container col-sm-6">
    <div class="panel-heading">

      <h2 class="panel-title">
        <b *ngIf="flagEdit">Edit </b>
        <b [hidden]="flagEdit">Details for</b>
        <b> {{recipe.Name}}! </b>
      </h2>
    </div>
    <br>
    <div class="panel-body">

      <label>Recipe Name:</label>
      <div *ngIf="!flagEdit" class="recipeName form-group">

        {{recipe.Name}}
      </div>
      <div [hidden]="!flagEdit" class="recipeName form-group" [ngClass]="{ 
                    'has-error':nameRef.invalid && nameRef.touched,
                    'has-success':nameRef.valid && nameRef.touched
                  }">
        <input type="text" #nameRef="ngModel" required minlength="3" maxlength="25" class="form-control" name="name" [(ngModel)]="recipe.Name">

        <div class="help-block" *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)">
          <div [hidden]="!nameRef.errors.required">
            Please enter a name
          </div>
          <div [hidden]="!nameRef.errors.minlength">
            Please enter atleast 3 characters
          </div>
          <div [hidden]="!nameRef.errors.maxlength">
            Please enter 25 characters max
          </div>
        </div>
        <b>{{nameRef.className}}</b>
    </div>
    <label class="item item-input">Description:</label>
    <div *ngIf="!flagEdit" id="description2" class="description form-group">
      <p>{{recipe.Description}} </p>
    </div>
    <div [hidden]="!flagEdit" class="description form-group" [ngClass]="{ 
                    'has-error':description.invalid  && description.touched,
                    'has-success':description.valid && description.touched
                     }">

      <textarea #description="ngModel" required minlength="10" maxlength="1000" name="description" [(ngModel)]="recipe.Description">
                            </textarea>

      <div class="help-block" *ngIf="description.errors">
        <div [hidden]="!description.errors.required">
          Please enter description
        </div>
        <div [hidden]="!description.errors.minlength">
          Recipe Description must be between 10 and 1000 characters
        </div>
        <div [hidden]="!description.errors.maxlength">
          Recipe Description must be between 10 and 1000 characters
        </div>
      </div>
      <b>{{description.className}}</b>
  </div>

  <div class="conteiner">
    <div class="form-group col-xs-6">

      <input *ngIf="!flagEdit" type="checkbox" [(ngModel)]="recipe.IsDone" placeholder="done" disabled="disabled" />
      <input [hidden]="!flagEdit" #isDone type="checkbox" name="done" ng-true-value="true" [(ngModel)]="recipe.IsDone">
      <label>Done Recipe </label>
    </div>
    <div class="form-group col-xs-6">

      <input *ngIf="!flagEdit" type="checkbox" [(ngModel)]="recipe.IsFavorite" placeholder="favorite" disabled="disabled" />
      <input [hidden]="!flagEdit" #isFavorite type="checkbox" name="favourite" ng-true-value="true" [(ngModel)]="recipe.IsFavorite">
      <label>Favorite Recipe </label>
    </div>
  </div>

</div>
</div>
<div class="ingredients container col-sm-6">
  <br>
  <div class="panel-heading">
    <h3 class="panel-title"><b>Ingredients </b></h3>
  </div>
  <br>
  <div class="panel-body">
    <div *ngIf="!flagEdit" class="addedIngredients container">
<div class="row" *ngFor="let recipeIngredient of recipe.RecipeIngredients" id="ingredients">
        <div class="col-sm-1">{{ recipeIngredient.Quantity }}</div>
        <div class="measurement col-sm-3">{{ recipeIngredient.Measurement | lowercase }}</div>
        <div class="name col-sm-6 col-lg-8">{{ recipeIngredient.IngredientName | lowercase}}</div>
</div>
      <br />
    </div>
    <div [hidden]="!flagEdit" class="container col-sm-12 form-group">
      <form name="checkoutBillingForm" #ingForm="ngForm">
        <div class="addIngredient container col-xs-12">
          <div class="ingredientName col-xs-5 form-group" [ngClass]="{ 
                    'has-error':ingredientName.invalid && ingredientName.touched,
                    'has-success':ingredientName.valid && ingredientName.touched
                  }">
            <label> Ingredient</label>
            <input #ingredientName name="ingredientName" required type="text" class="form-control" (keyup)="getIngredients(ingredientName.value)"
              [ngModel]="ingredientname" />

            <div *ngFor="let ingredient of recipeingredients" class="autocomplete form-control">
              <span (click)="ingredientName.value=ingredient.Name; chooseIngredient(ingredient)"> 
                       {{ingredient.Name}}
                </span>
            </div>

        </div>
        <div class="quantity col-xs-2 form-group" [ngClass]="{ 
                    'has-error':quantity.invalid && quantity.touched,
                    'has-success':quantity.valid && quantity.touched
                     }">
          <label>Quantity </label>
          <input type="text" #quantity="ngModel" required class="form-control" name="quantity" [ngModel]="qua" />
          <div class="help-block" *ngIf="quantity.errors && (quantity.dirty || quantity.touched)">
            <div [hidden]="!quantity.errors.required" style="margin-left:-13px; margin-bottom: 0px;">
              Required
            </div>

          </div>
          <b>{{quantity.className}}</b>
    </div>
    <div class="measurement col-xs-3 form-group">
      <label>Measurement </label>
      <select #measurement name="measurement" class="form-control" (change)="parseValue($event.target.value)">
           
            <option *ngFor="let name of options"
                     [value]="name">{{name}}</option>
        </select>
    </div>

    <div class="addButton col-xs-1">
      <label> </label>
      <button [disabled]="!ingForm.form.valid" (click)="addIngredient(ingredientName.value, measurement.value, quantity.value)">
             <img src="../Photos/Plus.png"  opacity="0" title="Add" width="20px" height="20px" value="Delete" />
             </button>
    </div>
  </div>
  </form>


  <div class="addedIng container col-sm-12">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Ingredient</th>
            <th>Quantity </th>
            <th>Measurement </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipeIngredient of recipe.RecipeIngredients">
            <td>{{ recipeIngredient.IngredientName | lowercase}}</td>
            <td>{{ recipeIngredient.Quantity }}</td>
            <td>{{ recipeIngredient.Measurement | lowercase }}</td>
            <td><button (click)="removeIngredient(recipeIngredient)">
                         <img src="../Photos/minus.png"  opacity="0" title="Delete" width="20px" height="20px" value="Delete" /></button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>


  </div>

  <div class="container col-sm-10"></div>




</div>
</div>
<div *ngIf="!flagEdit" class="detailsButtons col-xs-3">

  <label class="editButton">
              <button  value="edit" (click)="flagEdit=true">
               Edit
              </button>
            </label>
</div>
<div *ngIf="flagEdit" class="editButtons col-xs-5">
  <label class="cancelButton">
              <button  value="Cancel" (click)="flagEdit=false; onCancel(oldName)">
                Cancel
                  </button>
            </label>
  <label class="saveButton">
            <button [disabled]="!recipe.RecipeIngredients.length > 0 || nameRef.errors || description.errors" 
              (click)="updateRecipe(oldName,nameRef.value,description.value,isDone.checked,isFavorite.checked,recipe.RecipeIngredients);flagEdit=false"   
            class="btn btn-default"> Save </button>
            </label>
</div>

</div>
</div>