label {
    font-weight: bold;
    color: dimgray;
}

#details {
    background-color: OldLace;
}

.bgimg {
    min-height: 700px;
    background-image: url('../../Photos/paperTransparent2.png');
    background-repeat: repeat-y;
    background-size: 100%;
    max-width: 100%;
}

.details {
    max-width: 95%;
    padding-left: 90px;
}

.panel-heading h2 {
    margin-top: 25px;
}

#description p {
    font-family: "cursive";
    font-style: italic;
    text-align: justify;
    font-size: larger;
}

.bgimg label {
    font: serif;
    font-style: bold;
    color: black;
    font-size: 15px;
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#ingredients {
    font-family: "cursive";
    font-style: italic;
    text-align: justify;
}