<div *ngIf="recipe" class="bgimg">
  <div class="details">
    <div class="panel-heading">
      <h2 class="panel-title">
        <b>Details for {{recipe.Name}}!</b>
      </h2>
    </div>
    <div>
      <br/>
      <div class="form-group">
        <label>Recipe Name:</label> {{recipe.Name}}
      </div>
      <div id="description" class="form-group">
        <label class="item item-input">Description:</label>
        <p>{{recipe.Description}} </p>
      </div>
      <div class="conteiner">
        <div class="form-group col-xs-6">
          <label>Done Recipe </label>
          <input type="checkbox" [(ngModel)]="recipe.IsDone" placeholder="done" disabled="disabled" />
        </div>
        <div class="form-group col-xs-6">
          <label>Favorite Recipe </label>
          <input type="checkbox" [(ngModel)]="recipe.IsFavorite" placeholder="favorite" disabled="disabled" />
        </div>
      </div>
    </div>
    <div class="conteiner">
      <label>Ingredients:</label>
      <div *ngFor="let recipeIngredient of recipe.RecipeIngredients" id="ingredients">
        <div class="col-xs-1">{{ recipeIngredient.Quantity }}</div>
        <div class="measurement col-xs-3">{{ recipeIngredient.Measurement | lowercase }}</div>
        <div class="name col-xs-5">{{ recipeIngredient.IngredientName | lowercase}}</div>
        <div class="col-xs-3"> .</div>
        <!--<hr>-->
        <br />
      </div>
      <br />
    </div>

  </div>


</div>