<div *ngIf="recipe">
  <br/>
  <div class="conteiner col-sm-12 panel panel-danger" id="details">
    <div class="panel-heading">
      <h2 class="panel-title"><b>Details for {{recipe.Name}}!</b> </h2>
    </div>
    <div>
      <br/>
      <div class="form-group">
        <label>Recipe Name:</label> {{recipe.Name}}
      </div>
      <div class="form-group">
        <label class="item item-input">
            Description:</label>
        <p>{{recipe.Description}} </p>
      </div>
      <div class="conteiner">
        <div class="form-group col-sm-6">
          <label>Done Recipe </label>
          <input type="checkbox" [(ngModel)]="recipe.IsDone" placeholder="done" disabled="disabled" />
        </div>
        <div class="form-group col-sm-6">
          <label>Favorite Recipe </label>
          <input type="checkbox" [(ngModel)]="recipe.IsFavorite" placeholder="favorite" disabled="disabled" />
        </div>
      </div>
      </div>
    <div class="conteiner">
      <label>Ingredients:</label>
           <div *ngFor="let recipeIngredient of recipe.RecipeIngredients">
                <div  class="name col-sm-5">{{ recipeIngredient.IngredientName | uppercase}}</div>
                <div class="measure col-sm-1">{{ recipeIngredient.Quantity }}</div>
                <div class="measurement col-sm-2">{{ recipeIngredient.Measurement | lowercase }}</div>
                <div class="col-sm-4"> </div>
                <br />
           </div>
             <br />
      </div>
    
  </div>
  
</div>