label{
      font-weight: bold;
      color: dimgray;
}
#details{
    background-color: OldLace;
}
.bgimg {
    /*width: 600px;*/
    min-height: 700px;
    background-image: url('../../Photos/paperTransparent2.png');
     background-repeat: repeat-y;
     /*background-position: 6px 6px; */
     background-size: 100%; 
     /*background: fixed;*/
     max-width: 100%;
}
.details{
     /*width: 560px;*/
     max-width: 95%;
   /*height: 500px;*/
    padding-left: 90px;
}
.panel-heading h2{
/*padding: 35px 15px;*/
margin-top:25px;
}
#description p{
    /*font:serif;*/
   font-family: "cursive";
    font-style: italic;
    text-align: justify;
    font-size: larger;
}
.bgimg label{
    font:serif;
    font-style: bold;
    color: black;
    font-size: 15px;
}
hr { 
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
#ingredients{
     font-family: "cursive";
    font-style: italic;
    text-align: justify;
    
}