<div class="container text-center content clearfix reveal-side-navigation">
  <div class="map-container">
    <div id="map-canvas"></div>
    <section>
      <div class="container-fluid" style="padding-left: 0px; padding-right: 0px; ">
        <div class="row">
          <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.4293282441017!2d21.43280311544458!3d41.991060779213285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415b61f9202ad%3A0x9e92311f15d3b349!2sIT+Labs+DOO+Skopje!5e0!3m2!1sen!2s!4v1487231790546"
              width="1280" height="350" frameborder="0" style="border:0" allowfullscreen width="100%" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-xs-6">
      <h3 class="title-mid-small weight-light color-white mb-10">Opening Hours:</h3>
      <p class="no-margin-bottom">
        Monday - Friday 08:30 - 17:00<br/>
        <br/> Closed Saturdays and Sundays
        <br/>
      </p>
    </div>
    <div class="col-xs-6">
      <h3 class="title-mid-small weight-light color-white mb-10">Get In Touch</h3>
      <p>+389 2 311 1033</p>
      <p>11th October St.1000 Skopje, Republic of Macedonia</p>
      <p><a href="mailto:sample@it-labs.com">sample@it-labs.com</a></p>
    </div>
  </div>
</div><br>